*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


body{
	font-family: 'Open Sans', sans-serif;
	 overflow-x: hidden;
}

 /* section de los contedores */
 .contenedor{
 	width: 90%;
 	max-width: 1200px;
 	overflow: hidden;
 	margin:auto;
 	padding: 60px 0;
 }

 /*section del header*/
 header{
 	height: 100vh;
 	background-image: linear-gradient(to top, rgba(161,140, 109,0.5)0%, rgba(251, 194,235, 0.5)100%), url(../img/header.jpg);
 	background-repeat: no-repeat;
 	background-size: cover;
 	background-attachment: fixed;
 	background-position: center;


 	

 	}



 	.head{
 		padding: 0;
 		height: 100%;
 		display: flex;
 		justify-content: center;
 		align-items: center;
 		flex-direction: column;

 	}